{% extends 'mailing/base.html' %}

{% block title %}Новый пароль{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">Придумайте новый пароль</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_new_password1" class="form-label">Новый пароль</label>
                        <input type="password" class="form-control" name="new_password1" id="id_new_password1" required>
                    </div>
                    <div class="mb-3">
                        <label for="id_new_password2" class="form-label">Подтверждение</label>
                        <input type="password" class="form-control" name="new_password2" id="id_new_password2" required>
                    </div>
                    <button type="submit" class="btn btn-success w-100">Сменить пароль</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}