{% extends 'mailing/base.html' %}

{% block title %}Пароль сброшен{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Готово!</h4>
            <p>Ваш пароль был успешно изменён. Теперь вы можете войти с новым паролем.</p>
            <hr>
            <p class="mb-0"><a href="{% url 'login' %}" class="btn btn-primary">Войти</a></p>
        </div>
    </div>
</div>
{% endblock %}